<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap-local/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>{% block titulo_pagina %} {% endblock %}</title>
</head>
<body>
    <div id="nombre_blog">
        
    </div>
    <!-- style="background-color: #a7cfa7;"" -->

    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-light alert-success">
      <a class="navbar-brand" href="#"> <img src="../static/imagenes/elibre.png" class="img-fluid" width="180" height="30" alt="Logo Elibre"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/presentacion">Presentación</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/lista_entradas">Listado de entradas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="mailto:enlacepilar@protonmail.com"><i class="fas fa-envelope"></i>¿Correo?</a>
          </li>

        </ul>     
      </div>
    
           <!-- Derecha de la barra -->
           <span style="float:right;">            
            <a class="nav-link btn btn-danger" href="/relaja">¡Botón de Pánico!</a>          
          </span>
    </nav>
    
    <div class="container mt-5">
        {% block contenido %}

        {% endblock %}
    </div>
    
    
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-local/js/popper.min.js"></script>
    <script src="/static/bootstrap-local/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>