#titulo {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: "Courier New";
    border-right: 0.15em solid #0b566b;
    animation: typing 4s steps(31) 1s infinite alternate-reverse both, blink 1s steps(1) infinite;
}

#paginacion {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#nombre_blog {
    display: flex;
    justify-content: center;
}

#foto-desuso {
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bordecitos{
    border: solid 2px black;
    padding: 10px;
}

#texto-especial{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0b566b;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 105%;
    }
}

@keyframes blink {
    50% {
        border-color: red;
    }
}
