{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Elibre - taller de multimedia experimental. Fotos, software libre, gifs animados y música engendra. {% endblock %}

    {% block contenido %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger p-3 animate__animated animate__backInDown">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
        
        <h1 align="center">Cargar publicación</h1>

        <div id="bordecitos">

            <form action="/recibe_crear_entrada" class="form" method="POST" enctype="multipart/form-data">
               <label for="titulo-publi" >Titulo</label>
               <input type="text" name="titulo" id="titulo-publi" class="form-control mb-4" required> 

               <label for="resumen" >Resumen</label>
               <input type="text" name="resumen" id="resumen" class="form-control mb-4" required> 

               <label for="imagen">Foto o GiF</label>
               <input type="file" name="imagen" id="imagen" class="form-control mb-4">

               <label for="texto">Contenido</label>
               <textarea name="texto" id="texto" cols="30" rows="10" class="form-control mb-4"></textarea>

               <label for="clave">Clave para publicar:</label>
               <input type="password" name="clave" id="clave" class="form-control mb-4" required>

               <input type="submit" value="¡ P U B L I C A R !" class="btn btn-primary btn-block">
            </form>
        
        </div>
            
    {% endblock %}

