{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Elibre - taller de multimedia experimental. Fotos, software libre, gifs animados y música engendra. {% endblock %}

    {% block contenido %}

        
            <h1 id="titulo" align="center">Últimas publicaciones:</h1>

            <div id="paginacion">
                {% if pagina > 1 %}
                    <a href="/?pagina={{ pagina - 1 }}">Anterior &nbsp;&nbsp;</a>
                {% endif %}

                {% if pagina < total_paginas %}
                    <a href="/?pagina={{ pagina + 1 }}">Siguiente</a>
                {% endif %}
            </div>
            
                {% for item in items %}
                    <span>Fecha: {{ item[4] }} </span><br>
                    <h2>{{ item[1] }}</h2>
                    <img src="../static/imagenes/{{ item[3] }}" class="img-fluid" alt="imagen" height="250px">
                    <br><br>
                    <h5>{{ item[2] }}</h5>
                    <br>
                    <a href="/publicacion/{{ item[0] }}">Leer...</a>
                    <br>
                    <hr>
                    <br>
                {% endfor %}
            

            <div id="paginacion">
                {% if pagina > 1 %}
                    <a href="/?pagina={{ pagina - 1 }}">Anterior &nbsp;&nbsp;</a>
                {% endif %}

                {% if pagina < total_paginas %}
                    <a href="/?pagina={{ pagina + 1 }}">Siguiente</a>
                {% endif %}
            </div>

       

    
    {% endblock %}

