{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Elibre - taller de multimedia experimental. Fotos, software libre, gifs animados y música engendra. {% endblock %}

    {% block contenido %}

        
            <h1 id="titulo" align="center">Listado de entradas por fecha:</h1>

            <table class="table table-bordered table-primary">
                <thead class="alert-info">
                    <th>Fecha</th>
                    <th>Título</th>
                    <th>Resumen</th>
                </thead>
                <tbody>
                    {% for item in listado %}
                    <tr>
                        <td>{{ item[6] }}</td>
                        <td>{{ item[1] }}</td>
                        <td> <a href="/publicacion/{{ item[0] }}">{{ item[2] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
    
    {% endblock %}

