{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Una presentación como tantas otras... {% endblock %}

    {% block contenido %}

        {% if presentaciones %}
        
            {% for presentacion in presentaciones %}
            <h2>A modo de presentación...</h2>
                <p id="texto-especial">{{ presentacion[2] | safe }}</p>
                <small>Esto fue escrito por {{ presentacion[1] }}, el día {{ presentacion[3] }}</small>
        
                {% endfor %}
        {% else %}
                <h2>Todavía el autor no puso ninguna presentación. :(</h2>
        {% endif %}
            
    {% endblock %}

