{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} ¡Publicación! {% endblock %}

    {% block contenido %}
    
    
        
            {% for publi in publicacion %}
                <span class="text-end">Fecha: {{ publi[6] }} </span><br>
                <h2 align="center">{{ publi[1] }}</h2>
                <img src="../static/imagenes/{{ publi[3] }}" class="img-fluid" id="foto" alt="imagen">
                <br><br>
                <span>
                    {{ publi[5] | safe }}
                </span>
               
                <br>
                <br>
                <hr>
                <br>

            {% endfor %}
                    

    {% endblock %}