{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Tranquilo... ya estás acá :P {% endblock %}

    {% block contenido %}

    
    <h1>Momento de respirar, mirar una foto y seguir...</h1>
        <a href="/relaja" class="btn btn-info mb-3">Si te quedaste corto, presioname</a>
        <br>


        <img src="{{ relaja }}" class="img-fluid" alt="Foto para relajar">
           
            
    {% endblock %}

